.temp{
    border-radius: 3px;
    background-color: #38497E;
    position: absolute;
    top: 50%;
    height: 1rem;
    width: 3rem;
    color: white;
}
.wait{
     text-align: center;
    
}

.home-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5rem;
    background-color: #f5f5f5;
}

.main-container{
    padding: 10rem;
}