.temp{
    border-radius: 3px;
    background-color: #38497E;
    position: absolute;
    top: 50%;
    height: 1rem;
    width: 3rem;
    padding: 0.5rem;
    color: white;
}
.wait{
     text-align: center;
    
}